
#p1 {
	border-left: 6px solid lavender;
    background-color: ghostwhite;
	margin: 10px;
	padding: 10px;
	font-size: 40px;
}

#turtle {
	width:454px;
	height:284px;
	float: right;
}

#toDoList {
	margin:30px;
	width:50%;
	font-size:40px;
}
#btn-left{
	position: absolute;
	top: 95%;
	left: 90%;
	width:100px;
	height:100px;
	border-radius: 50px;
	font-family: 40px;
}
#btn-right{
	position: absolute;
	top: 95%;
	right: 90%;
	width:100px;
	height:100px;
	border-radius: 50px;
	font-family: 40px;
}
#btn-setup{
	position: absolute;
	top: 10%;
	left: 50%;
	width:800px;
	height:300px;
	border-radius: 50px;
	font-family: 40px;
}
#btn-view{
	position: absolute;
	top: 50%;
	right: 50%;
	width:800px;
	height:300px;
	border-radius: 50px;
	font-family: 40px;
}
