#topBar {
  position: fixed;
  bottom: 87%;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 400px;
  background-color: black;
}

.list-group-item{
	height: 150px;
	vertical-align: middle;
}

.modal-dialog{
	font-size: 30px;
}

#indexWrapper{
	position: relative;
	top: 230px;
	left: 100px;
	vertical-align: middle;
}

#turtleWrapper{
	position: absolute;
	top: 80%;
	left: 50%;
	
}

#p1 {
	border-left: 6px solid lavender;
    background-color: ghostwhite;
	margin: 10px;
	padding: 10px;
	font-size: 40px;
}

#turtle {
	position: absolute;
	z-index: 2;
	width:100%;
	height:auto;
	clip: rect(0, 100px, 50px, 0);
}

.glyphicon{
	font-size: 50px;
}

#turtleLoad {
	z-index: 1;
	width:100%;
	height:auto;
}


#toDoList {
	top: 500px;
	display: block;
	margin:30px;
	font-size:40px;
	height:500px;
	overflow-y:scroll;
}

#dataList{
	display: block;
	margin:30px;
	font-size:40px;
	height:500px;
	overflow-y:scroll;
}

#btn-back {
	margin: 30px;
	text-align: center;
	font-size:40px;
}

#btn-left {
	position: absolute;
	top: 95%;
	left: 90%;
	width:100px;
	height:100px;
	border-radius: 50px;
	font-family: 40px;
	font-size: 50px;
}
#btn-right {
	position: absolute;
	top: 95%;
	right: 90%;
	width:100px;
	height:100px;
	border-radius: 50px;
	font-family: 40px;
	font-size: 50px;
}
#btn-setup{
	position: absolute;
	top: 20%;
	left: 9.5%;
	width:800px;
	height:300px;
	border-radius: 15px 50px;
	font-size: 100px;
}
#btn-view{
	position: absolute;
	top: 60%;
	left: 9.5%;
	width:800px;
	height:300px;
	border-radius: 15px 50px;
	font-size: 100px;
}



.checkbox {
	float: right;
	width:40px;
	height:40px;
}
#subject {
	font-size: 50px;
}
#name {
	font-size: 30px;
}
#singleAdd {
	font-size: 40px;
}
#submit {
	font-size: 40px;
}
#modalHeader {
	font-size: 40px;
}
.date {
	font-size: 50px;
}

.item {
	font-size: 50px;
}

.delete {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

#vS {
	position: absolute;
	top: 150px;
	font-size: 50px;
	border-radius: 50px;
	width: 100px;
	height: 100px;
	padding: 0px;
	margin: 30px;
	text-align: center;
	z-index: 10000;
}

#sA {
	position: absolute;
	top: 300px;
	font-size: 50px;
	border-radius: 50px;
	width: 100px;
	height: 100px;
	padding: 0px;
	margin: 30px;
	text-align: center;
	z-index: 10000;
}

#turtleLoad {
	width: 750px;
  	height: 469.16px;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	margin: -234.58px 0 0 -375px;
}

#turtle {
	width: 750px;
  	height: 469.16px;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	margin: -234.58px 0 0 -375px;
}

#datepicker {position: relative; z-index: 101 !important}

