#indexWrapper {
	text-align: center;
	margin: 0 auto;
}

#p1 {
	border-left: 6px solid lavender;
    background-color: ghostwhite;
	margin: 10px;
	padding: 10px;
	font-size: 40px;
}

#turtle {
	position: absolute;
	z-index: 2;
	width:750px;
	height:auto;
	clip: rect(0, 100px, 50px, 0);
	
}

#turtleLoad {
	z-index: 1;
	width:750px;
	height:auto;
	
}

#toDoList {
	margin:30px;
	font-size:40px;
	height:500px;
	overflow-y:scroll;
}
#btn-back {
	margin: 30px;
	text-align: center;
	font-size:40px;
}
#btn-setup {
	margin: 30px;
	text-align: center;
	font-size:40px;
}
#btn-view {
	margin: 30px;
	text-align: center;
	font-size:40px;
}
#btn-left {
	position: absolute;
	top: 95%;
	left: 90%;
	width:100px;
	height:100px;
	border-radius: 50px;
	font-family: 40px;
}
#btn-right {
	position: absolute;
	top: 95%;
	right: 90%;
	width:100px;
	height:100px;
	border-radius: 50px;
	font-family: 40px;
}
<<<<<<< HEAD
#btn-setup{
	position: absolute;
	top: 20%;
	left: 9.5%;
	width:800px;
	height:300px;
	border-radius: 15px 50px;
	font-size: 100px;
}
#btn-view{
	position: absolute;
	top: 60%;
	left: 9.5%;
	width:800px;
	height:300px;
	border-radius: 15px 50px;
	font-size: 100px;
}
=======
.checkbox {
	float: right;
	width:40px;
	height:40px;
}
#subject {
	font-size: 50px;
}
#name {
	font-size: 25px;
}


/*view_schedule*/
.date {
	font-size: 50px;
}

.item {
	font-size: 50px;
}

.delete {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
















	]

}
>>>>>>> daca37c8804968172e3080172db4222f029752c9
