/*index.html*/
#indexTopBar {
	position: relative;
	height: 100px;
	margin-bottom: -25px;
	z-index: 100;
}
#btn-singleAdd {
	position: relative;
	width: 50px;
	height: 50px;
	margin-left: 12.5px;
	margin-bottom: 25px;
	z-index: 101;
	border-radius: 25px;
}
#btn-viewSchedule {
	position: relative;
	width: 50px;
	height: 50px;
	margin-left: 12.5px;
	margin-bottom: 25px;
	z-index: 101;
	border-radius: 25px;
}
#btn-reward {
	position: relative;
	width: 50px;
	height: 50px;
	margin-left: 12.5px;
	z-index: 101;
	border-radius: 25px;
}
#turtleWrapper {
	margin: 0;
	text-align: center;
	width: 360px;
}
#turtleLoad {
	position: relative;
	width: 300px;
  	height: 188px;
  	z-index: 1;
  	margin: 0 0 0 0;
}
#turtle {
	position: absolute;
	width: 300px;
  	height: 188px;
  	z-index: 2;
  	margin: 0 0 0 0;
}
/*view_schedule.html*/
#scheduleTopBar {
	position: relative;
	height: 100px;
	margin-bottom: -25px;
	z-index: 100;
}
#btn-complexAdd {
	position: relative;
	width: 50px;
	height: 50px;
	margin-left: 12.5px;
	margin-bottom: 25px;
	z-index: 101;
	border-radius: 25px;
}
#btn-back {
	position: relative;
	width: 50px;
	height: 50px;
	margin-left: 12.5px;
	z-index: 101;
	border-radius: 25px;
}